*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.flags{
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.h2lar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    width: 100%;
    background-color: black;
}

header nav{
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    position: fixed;
    background-color: rgb(30, 144, 255 0.1);
    z-index: 300;
    backdrop-filter: blur(30px);
    padding-left: 60px;
    top: 0;
    box-shadow: 0 0 5px gray;
    border-radius: 0 0 36px 36px;
    text-align: center;
}

header nav img{
    width: 3,2%;
    height: 25px;
    cursor: pointer;
    margin-right: 30px;
}

header nav h1{
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    margin-right: 180px;
}

header nav h2{
    margin-right: 30px;
    width: 220px;
    height: 40px;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 24px;
    cursor: pointer;
    background-color: darkgray;
    color: white;
    border: 2px solid white;
}

header nav h2:hover{
    background-color: rgb(23, 23, 23);
    transition: 1s;
}

main{
    width: 100%;
    height: auto;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.first {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

main .first .men-haqqimda{
    width: 60%;
    border-radius: 24px;
    padding-top: 100px;
    backdrop-filter: blur(33px);
    background: blue;
    border: 2px solid white;
    height: auto;
    padding: 40px;
}

main .first .men-haqqimda ul li span:nth-child(1) b{
    color: orangered;
}

main .first .men-haqqimda ul li span:nth-child(2) b{
    color: dodgerblue;
}

main .first .men-haqqimda ul li span:nth-child(3) b{
    color: gold;
}

main .men-haqqimda h1{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
}

main .men-haqqimda p{
    font-size: 24px;
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: 600;
    letter-spacing: 4px;
    word-spacing: 6px;
    margin-bottom: 16px;
}

main .men-haqqimda ol,ul{
    margin-left: 22px;
}

main .men-haqqimda ol li{
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 700;
    color: whitesmoke;
}

main .men-haqqimda ul li{
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 700;
    color: whitesmoke;
}

a{
    color: white;
}

b{
    color: white;
}

.second{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 120px;
}

.second .div{
    width: 60%;
    height: auto;
    padding: 40px;
    border-radius: 24px;
    border: 2px solid white;
    background:blue;
}

.second .div h1{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
}

.second .div .boxes{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(9, 160px);
    padding: 30px;
    gap: 20px;
}

.second .div .boxes h1{
    margin-bottom: 10px;
}

.second .div .boxes .box{
    width: 100%;
    border: 2px solid white;
    height: 160px;
    background: dodgerblue;
    color: white;
    align-items: center;
    padding-left: 35px;
    border-radius: 24px;
    display: flex;
    gap: 40px;
}

.second .div .boxes .box img{
    width: 80px;
    border-radius: 24px;
    height: 80px;
}

.second .div .boxes .box .text p{
    width: 300px;
    font-size: 22px;
    font-weight: 700;
}

.second .div .boxes .box button{
    width: 200px;
    border: 2px solid white;
    background: blue;
    color: white;
    height: 60px;
    border-radius: 4rem;
    cursor: pointer;
    font-size: 20px;
}

.second .div .boxes .box button:hover{
    transition: 1s;
    background-color: darkblue;
}

.fifth{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding-top: 80px;
}

.fifth .divs{
    width: 897px;
    height: auto;
    border-radius: 16px;
    backdrop-filter: blur(20px);
    background-color: blue;
    color: white;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    text-decoration: none;
}

.fifth .divs h1{
    font-size: 38px;
}

.fifth .divs p{
    margin-bottom: 30px;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.fifth a{
    text-decoration: none;
}

.fifth .divs .div{
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    margin-top: 20px;
    border-radius: 24px;
    cursor: pointer;
    padding-top: 30px;
}

.fifth .divs .p:last-child{
    margin-top: 25px;
}

.fifth .divs .div:hover{
    transform: scale(1.03);
    transition: .5s;
}

.fifth .divs .div p{
    font-size: 17px;
    color: white;
    font-family: Roboto, sans-serif;
    margin-top: 12px;
}

.fifth .divs .div p:hover{
    text-decoration: underline
}

.fifth .divs .div h3{
    color: #00FFF7;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

.h3333{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.h3333 img{
    width: 30px;
    height: 30px;
}

footer {
    width: 100%;
    height: 120px;
    background: blue;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}

@media (max-width: 431px) {
    header nav {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
        padding-left: 0;
    }

    header nav h1 {
        font-size: 22px;
        margin-right: 0;
    }

    header nav h2 {
        font-size: 18px;
        width: 180px;
        margin-right: 0;
        height: 36px;
    }

    header nav img {
        width: 40px;
        height: 20px;
        margin-right: 0;
    }

    .flags{
            display: flex;
            flex-direction: row; /* bu asosiy! */
            gap: 10px;
            align-items: center;
            justify-content: center;        
    }

    .flags img {
        width: 3,2%;
        height: 20px;
    }

    main {
        margin-top: 160px;
        padding: 10px;
    }

    main .first .men-haqqimda,
    .second .div,
    .fifth .divs {
        width: 90%;
        padding: 20px;
    }

    .second .div{
        padding: 20px 0;
    }

    .second .div .boxes{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .second{
        align-items: center;
        justify-content: center;
        display: flex;
        padding-left: 0;
    }

    main .men-haqqimda h1,
    .second .div h1,
    .fifth .divs h1 {
        font-size: 28px;
    }

    main .men-haqqimda p {
        font-size: 18px;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    main .men-haqqimda ul li,
    main .men-haqqimda ol li,
    .second .div .boxes .box .text p {
        font-size: 18px;
    }

    .second .div .boxes {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .second .div .boxes .box {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
        gap: 20px;
    }

    .second .div .boxes .box img {
        width: 60px;
        height: 60px;
    }

    .second .div .boxes .box button {
        width: 100%;
        font-size: 16px;
        height: 50px;
    }

    .fifth .divs .div {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .fifth .divs .div p {
        font-size: 16px;
        margin-top: 10px;
    }

    .fifth .divs .div h3 {
        font-size: 18px;
    }

    footer {
        font-size: 16px;
        text-align: center;
        padding: 10px;
        height: auto;
    }
}
